#grid_bg {
    width: 288px;
    height: 60px;
}

#grid_bg>div {
	width: 288px;
    height: 26px;
}

#grid_bg>div>div {
    width: 24px;
    height: 24px;
    border-style: solid;
    text-align: center;
    border: 1px solid #eee;
    float: left;
}

