#world{
   font-family: Courier;
   white-space: pre-wrap;
}

#container{
}

#grid_bg {
    width: 336px;
    height: 60px;
    
}

#grid_bg>div {
	width: 336px;
    height: 26px;
}

#grid_bg>div>div {
    width: 24px;
    height: 24px;
    border-style: solid;
    text-align: center;
    border: 1px solid #eee;
    float: left;
    font-size: 22px;
}

